<HTML>
    <BODY bgcolor="cyan">
    <form method="POST" action="/addlocation">
        <center>
            <H1>Add new location</H1> <br>
		
            Name <input type = "text" name= "Name" /> <br>
            Description <input type = "text" name= "Description" /> <br>
            
            
            </br>
    
            <input type = "submit" name="cancel" value="Cancel">
            <input type = "submit" name="submit" value="Add location">
        
        </center>
    </form>
    </BODY>
    </HTML>