<HTML>
    <BODY bgcolor="gray">
    <form method="POST" action="/encounter">
        <center>
        <title>Journey To Cariryn</title>
        <link rel="stylesheet" href="style.css">
        <h1>Journey To Cariryn</h1> <br>
        </center>
        
        <input   type = "submit" name="addencounter" value="Add New Encounter"> <br>
        <input   type = "submit" name="allencounters" value="View all Encounters"><br>
        <input   type = "submit" name="viewencounter" value="View Specific Encounter"><br>



    </form>
    </BODY>
</HTML>