<HTML>
    <BODY bgcolor="gray">
    <form method="POST" action="/">
        <center>
        <title>Journey To Cariryn</title>
        <link rel="stylesheet" href="style.css">
        <h1>Journey To Cariryn</h1> <br>
        </center>
        
        <h2>CHARACTER</h2>
        <input   type = "submit" name="character" value="New Character"> <br>
        <h2>INVENTORY</h2>
        <input   type = "submit" name="inventory" value="Go to Inventory"><br>

        <h2>ITEMS</h2>
        <input   type = "submit" name="items" value="Go to Items"><br>
        <h2>ENCOUNTER</h2>
        <input   type = "submit" name="encounter" value="Go to Encounters"><br>
        <h2>NPCs</h2>
        <input type = "submit" name="npc" value="Go to NPCs"><br>
        <h2>LOCATION</h2>
        <input type = "submit" name="location" value="New Location"><br>



    </form>
    </BODY>
</HTML>